
body {
  margin: 0;
  text-align: center;
  background: #F4F1F8;
}
h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif, cursive;
  color: #FFC84D;
}
h4 {
  font-family: monospace;
}
section {
  display: block;
  width: 660px;
  margin: 0 auto;
}
div {
  height: 120px;
  width: 220px;  
}
.container {
  position: relative;
  display: inline-block;
  height: 120px;
  margin: 0 2em 2em 0;
  opacity: .7;
  border-radius: 5px;
  background: #E4E1E4;
  perspective: 400px;
  transform-style: preserve-3d;
}
.transform {
  position: absolute;
  bottom: 0;
  background: rgba(65, 245, 254, .5);
  border-radius: 5px;
  animation: notransform 5s infinite;
}
.translate3d {
  transform: translate3d(20px,20px,20px);
}
.scale3d {
 
  transform: scale3d(0,0,1);
  animation-delay: .5s;
}
.rotate3d {
  transform: rotate3d(1, .5, 1, -30deg);
  animation-delay: 1s;
  
  }
.rotateX {
  transform: rotateX(180deg);
  animation-delay: 1.5s;
}
.rotateY {
  
  transform: rotateY(180deg);
   animation-delay: 2s;
}
.rotateZ {
  transform: rotateZ(180deg);
  animation-delay: 2.5s;
}
@keyframes notransform {
  50% {transform: none;}
}