{% load static %}
<!DOCTYPE html>
<html>

<head lang="ru">

	<link rel="stylesheet" href="{% static 'css/style.css' %}">
	<link rel="stylesheet" href="{% static 'css/task33.css' %}">
	<meta charset="utf-8">
</head>

<body>
	<div id="outer">
		<div id="wrapper">
			<div id="t6">
				<div class="op"></div>
				<div class="show">Набір</div>
			</div>
			<div id="t5">
				<div class="op"></div>
				<div class="show">На курси</div>
			</div>
			<div id="t4">
				<div class="op"></div>
				<div class="show">HTML</div>
			</div>
			<div id="t3">
				<div class="op"></div>
				<div class="show">CSS</div>
			</div>
			<div id="t2">
				<div class="op"></div>
				<div class="show">PHP</div>
			</div>
			<div id="t1">
				<div class="op"></div>
				<div class="show">Телефонуйте
					<br><span class="small">+380 96 48 21 022</span></div>
			</div>
		</div>
	</div>
</body>

</html>