{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/task11.css' %}">
</head>
<body>
    <div class="container">
        <div class="flipper" id="target">
          <div class="front">
            <a href="#target" class="home button">о мені</a>
            <div class="share-block">
              <a href=""><i class="fa fa-facebook"></i></a>
              <a href=""><i class="fa fa-instagram"></i></a>
              <a href=""><i class="fa fa-twitter"></i></a>
              <a href=""><i class="fa fa-youtube"></i></a>
              <a href=""><i class="fa fa-linkedin"></i></a>
            </div>
          <h1>ДИЗАЙН & КОД</h1>
            </div>
          <div class="back">
            <a href="#close" class="close button"><i class="fa fa-home"></i></a>
            <div class="inner">
              <h2>о мені</h2>
              </div>
            </div>
          </div>
      </div>
</body>
</html>